<h1> Homepage </h1>
<% if user_signed_in? %>
  <p> <%= link_to "Logout", "/users/sign_out" %> </p>
<% else %>
    <%= link_to "Login", "/users/sign_in" %>
<%end%>
<% if admin? %>
    <p>Welcome admin</p>
<% elsif customer? %>
    <p>Welcome <%=current_user.name%></p>
<% else %>
    <p> Please login </p>
<%end%>


<ul>
<li> <%= link_to  "Product", new_product_path %>    </li>

<li> <%= link_to "Cart", new_cart_path%> </li>
<li> <%= link_to "Purchases", purchase_index_path%> </li> 

<ul>