<%= link_to "<-- Back to home", "/" %>

<p id="errormsg"></p>
<h1>Products</h1>

<div>
<%= form_with url: products_path, id: "filter", method: :get, data: {turbo_frame: "list", 
turbo_action: "advance", controller: "form", action: "input->form#submit"} do%>
  <%= text_field_tag "filter", nil, placeholder: "Filter"%>
<%end%>
</div>
<%if admin?%>
<%= link_to 'Create Product', new_product_path, data:{turbo_frame: "modal"}%>
<%end%>

<h2> Product List: </h2>


<%= turbo_frame_tag "list" do%>
 <table id="products">
  <tr>
    <th>Product name</th>
    <th>Price</th>
    <% if admin? %>
      <th> Stock </th>
    <% end %>
  </tr>
  <%= render @products %>
</table>
<%= pagy_nav(@pagy).html_safe%> 
<%end%>