
<%= turbo_frame_tag :modal do %>
<div data-controller="turbomodal" data-action="turbo:submit-end->turbomodal#submitEnd">
  <%if admin?%>
  <h2>Create Product</h2>
    <%= form_with model: Product.new, method: :post do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.label :price %><br>
      <%= form.number_field :price, required:true, value:1%>
    </div>

      <div>
      <%= form.label :stock %><br>
      <%= form.number_field :stock, required:true, value:1%>
    </div>

    <div>
      <%= form.submit "Create Product" %>
    </div>
    <% end %>
  <% end %>
</div>

<% end %>
