<h1>Products</h1>

<%if admin?%>
<h2>Create Product</h2>
<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<%end%>

  

<% end %>
<h2> Product List: </h2>
<% @products.each do |product|%>
  <%= link_to product.name, product%><br>
  <% end %>
 <%= pagy_nav(@pagy).html_safe%> 